<div class="page-heading">
    <section class="section">
        <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body">
               <h6>Hello World</h6>
            </div>
        </div>
    </section>
  </div>