<section class="section">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Edit Kategori</h4>
        </div>
        <div class="card-body">
            <form method="POST" action="/quotes/<%= quotes._id %>/update?_method=PUT"
                class="form form-horizontal">
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="member">Ketua Umum</label>
                        </div>
                        <div class="col-md-8 form-group">
                            <select name="member" id="member"
                                class="choices form-select" required>
                                <option value="">-- Pilih --</option>
                                <% members.forEach((member, index) => { %>
                                    <option value="<%= member._id %>"
                                        <% if(quotes.memberId._id && member._id) { %>
                                            selected
                                        <% } %>
                                        ><%= member.name %></option>
                                <% }) %>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="content">Kutipan</label>
                        </div>
                        <div class="col-md-8 form-group">
                            <textarea id="content" class="form-control" name="content" placeholder="Konten" rows="5" required><%= quotes.content %></textarea>
                        </div>

                        <div class="col-md-4">
                        </div>
                        <div class="col-sm-8 d-flex justify-content-start mt-3">
                            <button type="submit" class="btn btn-primary me-1 mb-1 col-6 col-md-6">
                                Submit
                            </button>
                            <button type="reset" class="btn btn-light-secondary me-1 mb-1 col-6 col-md-6">
                                Reset
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>